* {
  box-sizing: border-box;
}

:root {
  --main-color: white;
  --accent-color: teal;
  --contrast-color: black;
}

body {
  margin: 0;
  height: 100vh;
  font-family: monospace;
  font-size: 1.3rem;
}

.counter-display {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  background-color: var(--accent-color);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--accent-color);
  filter: drop-shadow(0 0 5px white);
}

.reset {
  all: unset;
  padding: 1rem 4rem;
  background-color: var(--main-color);
  _border: 3px solid var(--contrast-color);
  border-radius: 20px;
  box-shadow: 0 0 20px var(--contrast-color);
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.reset:hover {
  box-shadow: 0 0 20px orange;
}

main {
  height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 10rem;
}
